<%= form_for @quote do |quote_form| %>

<%= quote_form.text_field :name %> <br />


	<table id="items_quote" border="0" cellpadding="0" cellspacing="0" class="no-zebra">
		<thead>
			<th>[-]</th>
			<th>Description</th>
			<th>Quantity</th>
		</thead>
	<%= quote_form.fields_for :quote_lines, :quote_line do |quote_line_form| %>
	
		<tr class="fields">
				<td class="remove">
					<%= quote_line_form.hidden_field :_destroy %>
					<%= link_to  "remove" ,"javascript:void(0)", :class =>"remove_fields"  %>
				</td>
				<%= quote_line_form.fields_for :item do|item_form| %>
					<td class="quantity"><%= quote_line_form.text_field :quantity %></td>
					<td class="description"><%= item_form.text_field :description %></td>
				<% end %>
		</tr>	
	<% end %>
		<tfoot>
			<tr>
				<td colspan="3">
				<%= link_to  "Add" ,"javascript:void(0)", :class =>"add_fields"  %>	
				</td>
			</tr>
		</tfoot>
	</table>

<%= quote_form.submit %>

<% end %>

<div id="quote_lines_fields_blueprint" style="display :none">

	<%  
	quote_blueprint = Quote.new
	quote_line_fields_blueprint = quote_blueprint.quote_lines.build
	quote_line_fields_blueprint.item = Item.new
	%>	
	<table>
		<%= fields_for quote_blueprint do |f|%>
		<%= f.fields_for :quote_lines, quote_line_fields_blueprint, :child_index => "new_#{:quote_lines}" do 		
			|quote_line_form|
			%>

			<tr class="fields">

				<td class="remove">
					<%= quote_line_form.hidden_field :_destroy %>
					<%= link_to  "remove" ,"javascript:void(0)", :class =>"remove_fields"  %>
				</td>
				<td class="quantity"><%= quote_line_form.text_field :quantity %></td>

				<%= quote_line_form.fields_for :item ,:child_index => "new_#{:item}" do|item_form| %>

				<td class="description"><%= item_form.text_field :description %></td>

				<%end%>

				<%end%>
				
				<%end%>
			
			</tr>
		</table>
	</div>




